/* .header{
    display: flex;
    justify-content: space-between;
} */
.container{
   display: flex;
   justify-content: space-between;
    background-color:#1F4690 ;
    height: 35px;
 
}
 .icon{
display: inline-block;

 

} 
.navbar{
font-size: 20px;
 
    height: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    
}
.navbar a{
    
    color: #fff;
    text-decoration: none;
   
}
.navbar a:hover{
transform: translateY(5px);
transition: 0.7s ease;
color:cornflowerblue ;

}
.navbar a :hover{
    transform: translateY(5px);
    transition: 0.7s ease;
   color: cornflowerblue;
}
.nav{
    display: flex;
    justify-content: space-between;
    
}
.nav .PHOTO {
    margin-left: 8em;
   
}
.icon a{
    color: #fff;
 font-size: 1.5em;

}
.contact{
    font-size: 2.3em;
    display: flex;
    /* justify-content: center; */
   
    
}


.number a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.location-icon{
    font-size: 2.3em;
    display: flex;
    width: 30%;
}
.location a{
    text-decoration: none;
}
.butons a{
    font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
}


.register-butons button {
    background-color:#FFD700;
    display: inline;
    color: #1F4690;
    
    
}
.sign-in button{
    background-color:#FFD700;
    display: inline;
    color: #1f4690;

}
.control-tools{
    background-color: #cbae08;
    height: 40px;
    padding-left: 8em;
}
.control-tools a{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
color: #fff;
    text-decoration:none ;
padding: 0.8rem;
display: inline-block;

}
 .control-tools a:hover{
color: chocolate;
   
transform: translateY(5px);
transition:0.7s ease;
 }
 /* middle */
 .middle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
 }
    

    

 
 .photo-1{
    display: flex;
    justify-content: space-between;
    margin: 8em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
 
 }
 /* information */

.information{
    display: flex;
    justify-content: space-between;
    margin: 8em;
    
}
.information span p{
text-align: right;
}